<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.bundle.min.js"></script>

    <style>
      * {
        font-size: 1rem;
        font-family: "Courier New", Courier, monospace;
      }

      .log {
        background-color: black;
        color: white;
        height: calc(100vh - 56px);
        padding: 20px;
        font-size: 13px;
        overflow: auto;
      }
    </style>
    <title>Gate Manager</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-secondary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Gate Manager</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link <%= route == '/' ? 'active' : '' %>"
                aria-current="page"
                href="/"
              >
                Gate
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link <%= route == '/tickets' ? 'active' : '' %>"
                href="/tickets"
              >
                Tickets
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link <%= route == '/log' ? 'active' : '' %>"
                href="/log"
              >
                Log
              </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Selamat Datang <%= locals.user.name %></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/logout"
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%- include(view) %>
  </body>
</html>
