<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="my-5">Tickets</h1>

    <form class="row g-3">
      <div class="col-auto">
        <input type="radio" class="btn-check" name="status" id="optionAll"
        autocomplete="off" <%= !query.status ? 'checked' : '' %> value="" />
        <label class="btn" for="optionAll">All</label>
      </div>

      <div class="col-auto">
        <input type="radio" class="btn-check" name="status" id="optionReady"
        autocomplete="off" value="ready" <%= query.status == 'ready' ? 'checked'
        : '' %> />
        <label class="btn" for="optionReady">Ready</label>
      </div>

      <div class="col-auto">
        <input type="radio" class="btn-check" name="status" id="optionUsed"
        autocomplete="off" value="used" <%= query.status == 'used' ? 'checked' :
        '' %> />
        <label class="btn" for="optionUsed">Used</label>
      </div>

      <div class="col-auto">
        <input type="radio" class="btn-check" name="status" id="optionRefund"
        autocomplete="off" value="refund" <%= query.status == 'refund' ?
        'checked' : '' %> />
        <label class="btn" for="optionRefund">Refund</label>
      </div>

      <div class="col-auto">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search Ticket"
            name="search"
            value="<%= query.search || '' %>"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="clear-btn"
          >
            X
          </button>
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>No</th>
        <th class="text-center">Status</th>
        <th>Code</th>
        <th>Batch Generate</th>
        <th>Date Generate</th>
        <th>Date Used</th>
        <th>Date Refund</th>
      </tr>
    </thead>
    <tbody>
      <% const colors = { ready: 'success', used: 'secondary', refund: 'danger'
      } %> <% tickets.rows.forEach((el, index) => { %>
      <tr>
        <td><%= ((query.page - 1) * 15) + index + 1 %></td>
        <td class="text-center">
          <span class="badge text-bg-<%= colors[el.ticket_status] %>">
            <%= el.ticket_status.toUpperCase() %>
          </span>
        </td>
        <td><%= el.code %></td>
        <td><%= el.batch_generate %></td>
        <td><%= el.date_generate %></td>
        <td><%= el.date_used %></td>
        <td><%= el.date_refund %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>

  <div class="d-flex align-items-center justify-content-between">
    <nav aria-label="pagination">
      <ul class="pagination">
        <li class="page-item <%= query.page == 1 ? 'disabled' : '' %>">
          <a
            class="page-link"
            href="/tickets?page=<%= +query.page - 1  %>&status=<%= query.status %>&search=<%= query.search %>"
            >&laquo; Prev</a
          >
        </li>
        <% for (let i = 1; i <= totalPage ; i++) { %>
        <!--
      <li class="page-item <%= query.page == i ? 'active' : '' %>">
        <a
          class="page-link"
          href="/tickets?page=<%= i  %>&status=<%= query.status %>&search=<%= query.search %>"
        >
          <%= i %>
        </a>
      </li>
      -->
        <% } %>

        <li class="page-item <%= query.page >= totalPage ? 'disabled' : '' %>">
          <a
            class="page-link"
            href="/tickets?page=<%= +query.page + 1  %>&status=<%= query.status %>&search=<%= query.search %>"
          >
            Next &raquo;</a
          >
        </li>
      </ul>
    </nav>
    <div>
      Page <%= query.page %> of <%= totalPage %> (<%= tickets.count %> rows)
    </div>
  </div>
</div>

<script>
  const clearBtn = document.querySelector("#clear-btn");
  clearBtn.addEventListener("click", (e) => {
    e.preventDefault();
    window.location.href = "/tickets";
  });

  const options = document.querySelectorAll("[type=radio]");
  options.forEach((el) => {
    el.addEventListener("change", (e) => {
      const status = e.target.value;
      window.location.href = `/tickets?status=${status}`;
    });
  });
</script>
