<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="my-5">Tickets</h1>

    <form class="row g-3">
      <div class="col-auto">
        <input type="radio" class="btn-check" name="status" id="optionAll"
        autocomplete="off" <%= !query.status ? 'checked' : '' %> value="" />
        <label class="btn" for="optionAll">All</label>
      </div>

      <div class="col-auto">
        <input type="radio" class="btn-check" name="status" id="optionReady"
        autocomplete="off" value="ready" <%= query.status == 'ready' ? 'checked'
        : '' %> />
        <label class="btn" for="optionReady">Ready</label>
      </div>

      <div class="col-auto">
        <input type="radio" class="btn-check" name="status" id="optionUsed"
        autocomplete="off" value="used" <%= query.status == 'used' ? 'checked' :
        '' %> />
        <label class="btn" for="optionUsed">Used</label>
      </div>

      <div class="col-auto">
        <input type="radio" class="btn-check" name="status" id="optionRefund"
        autocomplete="off" value="refund" <%= query.status == 'refund' ?
        'checked' : '' %> />
        <label class="btn" for="optionRefund">Refund</label>
      </div>

      <div class="col-auto">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search Ticket"
            name="search"
            value="<%= query.search || '' %>"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="clear-btn"
          >
            X
          </button>
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>No</th>
        <th>Code</th>
        <th>Batch Generate</th>
        <th>Date Generate</th>
        <th>Status</th>
        <th>Date Used</th>
        <th>Date Refund</th>
      </tr>
    </thead>
    <tbody>
      <% const colors = { ready: 'success', used: 'secondary', refund: 'danger'
      } %> <% tickets.forEach((el, index) => { %>
      <tr>
        <td><%= ++index %></td>
        <td><%= el.code %></td>
        <td><%= el.batch_generate %></td>
        <td><%= el.date_generate %></td>
        <td>
          <span class="badge text-bg-<%= colors[el.ticket_status] %>">
            <%= el.ticket_status.toUpperCase() %>
          </span>
        </td>
        <td><%= el.date_used %></td>
        <td><%= el.date_refund %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<script>
  const clearBtn = document.querySelector("#clear-btn");
  clearBtn.addEventListener("click", (e) => {
    e.preventDefault();
    window.location.href = "/tickets";
  });

  const options = document.querySelectorAll("[type=radio]");
  options.forEach((el) => {
    el.addEventListener("change", (e) => {
      const status = e.target.value;
      window.location.href = `/tickets?status=${status}`;
    });
  });
</script>
