<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="my-3">Tickets</h1>

    <form class="row g-3">
      <div class="col-auto">
        <input type="radio" class="btn-check" name="status" id="optionAll"
        autocomplete="off" <%= !query.status ? 'checked' : '' %> value="" />
        <label class="btn" for="optionAll">All</label>
      </div>

      <div class="col-auto">
        <input type="radio" class="btn-check" name="status" id="optionReady"
        autocomplete="off" value="ready" <%= query.status == 'ready' ? 'checked'
        : '' %> />
        <label class="btn" for="optionReady">Ready</label>
      </div>

      <div class="col-auto">
        <input type="radio" class="btn-check" name="status" id="optionUsed"
        autocomplete="off" value="used" <%= query.status == 'used' ? 'checked' :
        '' %> />
        <label class="btn" for="optionUsed">Used</label>
      </div>

      <div class="col-auto">
        <input type="radio" class="btn-check" name="status" id="optionRefund"
        autocomplete="off" value="refund" <%= query.status == 'refund' ?
        'checked' : '' %> />
        <label class="btn" for="optionRefund">Refund</label>
      </div>

      <div class="col-auto">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search Ticket"
            name="search"
            value="<%= query.search || '' %>"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="clear-btn"
          >
            X
          </button>
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>

      <div class="col-auto">
        <a href="/tickets/fetch" class="btn btn-danger"> Fetch Tickets </a>
      </div>
    </form>
  </div>

  <% const columns = { ticket_status: 'Status', type: 'Type', code: 'Code',
  batch_generate: 'Batch Generate', date_generate: 'Date Generate', date_used:
  'Date Used', date_refund: 'Date Refund', } %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>No</th>
        <% for (let col in columns) { %>
        <th class="text-center">
          <% if (query.sort_column == col && query.sort_order == 'asc') { %>
          &darr; <% } %> <% if (query.sort_column == col && query.sort_order ==
          'desc') { %> &uarr; <% } %>
          <a
            class="text-decoration-none"
            href="?sort_column=<%= col %>&sort_order=<%= query.sort_column == col && query.sort_order == 'asc' ? 'desc' : 'asc' %>&status=<%= query.status %>"
          >
            <%= columns[col] %>
          </a>
        </th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% const colors = { ready: 'success', used: 'secondary', refund: 'danger'
      } %> <% data.rows.forEach((el, index) => { %>
      <tr>
        <td><%= ((query.page - 1) * 15) + index + 1 %></td>
        <td class="text-center">
          <span class="badge text-bg-<%= colors[el.ticket_status] %>">
            <%= el.ticket_status.toUpperCase() %>
          </span>
        </td>
        <td class="text-center"><%= el.type || 'customer' %></td>
        <td class="text-center">
          <a
            class="ticket-link text-decoration-none"
            href="/tickets/<%= el.code %>"
            target="_blank"
          >
            <%= el.code %>
          </a>
        </td>
        <td class="text-center"><%= el.batch_generate %></td>
        <td class="text-center"><%= el.date_generate %></td>
        <td class="text-center"><%= el.date_used %></td>
        <td class="text-center"><%= el.date_refund %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>

  <div class="d-flex align-items-center justify-content-between">
    <nav aria-label="pagination">
      <ul class="pagination">
        <li class="page-item <%= query.page == 1 ? 'disabled' : '' %>">
          <a
            class="page-link"
            href="/tickets?page=<%= +query.page - 1  %>&status=<%= query.status %>&search=<%= query.search %>"
            >&laquo; Prev</a
          >
        </li>
        <% for (let i = 1; i <= data.totalPage ; i++) { %>
        <!--
      <li class="page-item <%= query.page == i ? 'active' : '' %>">
        <a
          class="page-link"
          href="/tickets?page=<%= i  %>&status=<%= query.status %>&search=<%= query.search %>"
        >
          <%= i %>
        </a>
      </li>
      -->
        <% } %>

        <li
          class="page-item <%= query.page >= data.totalPage ? 'disabled' : '' %>"
        >
          <a
            class="page-link"
            href="/tickets?page=<%= +query.page + 1  %>&status=<%= query.status %>&search=<%= query.search %>"
          >
            Next &raquo;</a
          >
        </li>
      </ul>
    </nav>
    <div>
      Page <%= query.page.toLocaleString('id-ID') %> of <%=
      data.totalPage.toLocaleString('id-ID') %> (<%=
      data.count.toLocaleString('id-ID') %> rows)
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="ticketModal"
  tabindex="-1"
  aria-labelledby="ticketModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ticketModalLabel">Ticket QR Code</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img src="" alt="" id="qr" style="width: 100%" />
        <br />
        <h3 class="text-center" id="ticket-code"></h3>
      </div>
    </div>
  </div>
</div>

<script>
  const modal = new bootstrap.Modal("#ticketModal");
  const qr = document.querySelector("#qr");
  const ticketCode = document.querySelector("#ticket-code");

  const clearBtn = document.querySelector("#clear-btn");
  clearBtn.addEventListener("click", (e) => {
    e.preventDefault();
    window.location.href = "/tickets";
  });

  const options = document.querySelectorAll("[type=radio]");
  options.forEach((el) => {
    el.addEventListener("change", (e) => {
      const status = e.target.value;
      window.location.href = `/tickets?status=${status}`;
    });
  });

  const ticketLinks = document.querySelectorAll(".ticket-link");
  ticketLinks.forEach((el) => {
    el.addEventListener("click", async (e) => {
      e.preventDefault();
      const url = e.target.href;
      const res = await fetch(url);
      const json = await res.json();
      qr.src = json.qr;
      ticketCode.textContent = json.ticket.code;
      modal.show();
    });
  });
</script>
