<h1 class="my-5">Gate</h1>

<button
  type="button"
  class="btn btn-primary mb-5"
  data-bs-toggle="modal"
  data-bs-target="#formModal"
>
  Tambah Gate
</button>

<table class="table">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nama</th>
      <th>Host</th>
      <th>Port</th>
      <th class="text-center" style="width: 200px">Action</th>
    </tr>
  </thead>
  <tbody>
    <% gates.forEach(({id, name, host, port,}, index) => { %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= name %></td>
      <td><%= host %></td>
      <td><%= port %></td>
      <td class="text-center">
        <a class="btn btn-primary btn-sm" href="/gate/log/<%= id %>">Log</a>
        <a class="btn btn-info btn-sm" href="/gate/edit/<%= id %>">Edit</a>
        <a
          class="btn btn-danger btn-sm btn-delete"
          data-id="<%= id %>"
          href="/gate/delete/<%= id %>"
          >Hapus</a
        >
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>

<%- include('_form') %>

<script>
  document.querySelectorAll(".btn-delete").forEach((el) => {
    el.addEventListener("click", (e) => {
      e.preventDefault();
      const id = el.dataset.id;
      if (confirm("Anda yakin akan menghapus gate ini?")) {
        window.location.href = el.href;
      }
    });
  });
</script>
